#include "zb60.dtsi"
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 3行 × 4列 键盘布局（注释移到bindings外部）
            bindings = <
                &kp Q   &kp W   &kp E   &kp R
                &kp A   &kp S   &kp D   &kp F
                &kp Z   &kp X   &kp C   &kp V
            >;
        };
    };
};
